USE [Property_Analysis]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 27/11/2021 7:10:19 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[Time_Id] [int] NOT NULL,
	[Updated_on] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Time_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
